node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
yarn.lock
metro.config.js
package-lock.json
android
index.js
.vscode
.env
AppMonoDark.tsx
package-lock.jsonRenamed
gptmobile-74f0bf5276dd.json
yarn copy.lock
package02042023.json
